*,
* ::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn {
  border: none;
  background-image: linear-gradient(90deg, #a7bc5d, #6fa897);
  cursor: pointer;
  font-family: inherit;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #6fa897;
  height: 40px; /* Set height to match textarea */
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: none;
}

/* Aside Section */

.arrow {
  position: absolute;
  left: 360px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

aside {
  position: absolute;
  width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 400;
  padding: 60px;
}

.aside-title {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 8px 0;
}

.aside-content {
  max-height: calc(
    100% - 40px
  ); /* Subtracting the sidebar's padding (top + bottom) */
  overflow-y: auto; /* Adds vertical scrolling when the list is too long */
}

.saved-words {
  padding: 8px 0;
}
.saved-word {
  padding: 8px 0 8px 16px;
  display: flex;
  justify-content: space-between;
}

.delete-word {
  cursor: pointer;
  font-size: 14px;
  margin-right: 1rem;
}

.delete-icon {
  display: flex;
}

.aside-text-container {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aside-text {
  font-weight: 700;
}

.aside-text-container input {
  margin-top: 4px;
}

.aside-text-container button {
  cursor: pointer;
}

/* Main Section */

.title {
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
}

.input-spelling {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  height: 40px; /* Match the height of the button */
  padding: 0; /* Remove padding to ensure height matches */
  line-height: 40px; /* Align text vertically */
  font-size: 20px; /* Match font size with button */
  padding-left: 8px;
}

.input-spelling::placeholder {
  color: rgb(177, 177, 177);
  font-weight: 400;
  font-size: 20px; /* Adjust font size to fit height */
  line-height: 40px; /* Align placeholder text vertically */
}

.input-container {
  display: flex;
  gap: 5px;
  margin-top: 2rem;
}

.audio {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.correct-text {
  color: rgb(19, 180, 19);
  font-size: 24px;
  text-align: center;
  padding-top: 1rem;
  display: none;
}

.incorrect-text {
  color: rgb(255, 0, 0);
  font-size: 24px;
  text-align: center;
  padding-top: 1rem;
  display: none;
}

.counter {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.correct-counter {
  color: rgb(19, 180, 19);
}

.incorrect-counter {
  color: rgb(255, 0, 0);
}
